html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h3 {
  margin: 0;
}

h2 {
  margin-bottom: 50px;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}
