// $white-color: #ffffff;
// $dark-bg-color: #2f303a;
// $light-bg-color: #f5f4fa;
// $main-text-color: #212121;
// $accent-color: #2196f3;
// $p-color: #757575;
// $black-color: #000000;
// $footer-text-color: rgba(255, 255, 255, 0.6);
// $blue-button-hover: #188ce8;
// $header-border-color: #ececec;
// $card-border: #eeeeee;
// $hero-bg-color: #c4c4c4;
// $client-icon-color: #afb1b8;
// $join-icon-back: rgba(255, 255, 255, 0.1);
// $gradient-color: rgba(47, 48, 58, 0.4);
// $proccess-text-color: rgba(47, 48, 58, 0.8);
// $foot-form-input-border: rgba(255, 255, 255, 0.3);
// $foot-form-placeholder: rgba(255, 255, 255, 0.6);
// $overlay-bg-color: rgba(33, 150, 243, 0.9);
// $backdrop-bg-color: rgba(0, 0, 0, 0.2);
// $modal-btn-border: rgba(0, 0, 0, 0.1);
// $modal-form-input-border: rgba(33, 33, 33, 0.2);
// $modal-form-placeholder: (117, 117, 117, 0.5);
// $roboto: Roboto, sans-serif;
// $raleway: Raleway, sans-serif;
// $fontw400: 400;
// $fontw500: 500;
// $fontw700: 700;
// $fontw900: 900;
:root {
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --add-color: #f5f4fa;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --p-color: #757575;
  --logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-button-hover: #188ce8;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --new-hero-back: #c4c4c4;
  --icon-link-color: #afb1b8;
  --join-icon-back: rgba(255, 255, 255, 0.1);
  --li-gap: 30px;
}
